*{
    margin: 0;
    padding: 0;
}

main{
    max-width: 100%;
    height: 100vh;
    background-image: url("/2__1.png");
    background-size: cover;
    background-position: center;
}

main .card,main .card.vector{
    background: black;
    width: 0vw;
    height: 0vw;
    position: absolute;
    opacity: 0;
    transition: 1s;
}